.headerTextProperties{
    
    /* position: absolute; */
    /* width: 113px; */
    /* height: 20px;
    left: 20px;
    top: 1067px; */
    
    /* font-family: 'Roboto'; */
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 25px;
    
    /* text-align: center; */
    
    color: #005CA7;
}