.header {
    font-size: large;
    font-weight: 700;
}
.instruction {
    margin-left: 25px;
    font-size: medium;
}
.opportunityName {
    font-size: large;
    font-weight: 700;
    margin-bottom: 10px;
}
.buttons {
    display: flex;
    justify-content: right;
    align-items: center;
    padding: 20px;
}
.ProbabilityInputWidth {
    width: 4rem;
}