.filterSelected{
    background: green;
    color: white;
}
.ratingbox{
	padding:30px 30px 30px 30px;
    background-color: #fff;
    border-radius: 0.25rem;
    border-color: #dddbda;
    cursor: pointer;
}
.ratingbox:hover{
    background-color: #ebf3fc;
}
.prsectionbg{
    box-shadow: 0 2px 2px 0 rgb(0 0 0 / 10%);
    padding: 0;border: 1px solid;
    border-radius: 4px;
    border-color: #dddbda;
    cursor: pointer;
}

.producttitle{
		font-weight: 700;
		color:#000;
		font-size:18px;
}
.producttitle p{
		font-weight: 200;
		color:#7c7c7c;
		font-size:14px;
}
.totalNum h4{
		color:#ed1f39;
		font-weight: 700;
    font-size: 18px;
}
.attLabel {
    color: #7c7c7c;
    font-size: 13px;
    letter-spacing: 1px;
    text-transform: uppercase;
}
.totalNum h4 .ratenow button{
		 background: #0176d3;
    color: #fff;
		border-color: #0176d3;
}
.slds-icon-text-default {
    fill: #576f98 !important;
}
h3.infoTitle {
    font-size: 14px;
    color: #000;
    font-weight: 500;
}
thead.tableth th {
    background: #f5f6f9;
    color: #4d6792;
    padding: 10px 10px;
}
.reqInpFld label{
    font-size: 12.5px;
    color: #000;
}
lightning-input .reqInpFld label.slds-form-element__label{
    font-size: 12.5px;
    color: #000;
}
lightning-input label .slds-form-element__label{
    font-size: 12.5px;
    color: #000;
}
.coveragebox{
    min-height: 2.5rem;
    color: #4D6792;
    background-color: #F5F6F9;
    padding: 10px 0;
    cursor: pointer;
}
.coveragebox:hover{
    background-color: #EEF1F6;
}
.coveragebox svg{
    fill: #4D6792;
}
.tableDiv.slds-m-around_medium {
    cursor: pointer;
}
.coverageTitle {
    font-size: 15px;
    letter-spacing: 1px;
}
.coveragelabel{
    font-size: 12px;
    color: #7c7c7c;
    letter-spacing: 1px;
}
.spinner{
    position: relative;
    display: inline-block;
    width: 80px;
    height: 80px;
}
lightning-input.reqInpFld.slds-form-element label {
    font-size: 14px;
    color: #000;
}
.ratenowbtn {
    padding: 7px 10px 7px 16px;
    background: #0176d3;
    color: #fff;
    border-radius: 4px;
    margin: 10px 0;
}
.norecord{
    color: #000;
    font-size: 14px;
    font-weight: 500;
    padding: 0 0 10px 0;
}
.icondisplay{
    display: contents;
}
.erroricon svg{
    fill: #fff !important;
}
.slds-icon-text-default {
    fill: var(--sds-c-icon-color-foreground, var(--lwc-colorTextIconInverse,rgb(255, 255, 255))) !important;
}
.slds-modal__container .UndPoliciesPopup{
    margin: 0 auto;
    width: 60%;
    max-width: 60rem;
    min-width: 20rem;
}
.removeLabel .slds-form-element label {
    display: none !important;
}
.removeLabel > label {
    display: none;
}
.filterSelected {
    background: #000;
    color: #fff;
    border-radius: 0;
}